<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <% if subtitle and not subtitle.empty? then %>
        <h2><%= subtitle %></h2>
      <% end %>
    </header>

    <main>
      <%= content %>
    </main>

    <footer>
      <p>
        Huub de Beer (c) 2006 — 2014
      </p>
    </footer>
  </body>
</html>
